.btn {
  border-radius: 4px;
  padding: 10px 0;
}

.primary-btn {
  background: linear-gradient(90deg, #17949d 0%, #20b5c0 100%);
}

.secondary-btn {
  background: #ffffff;
  border: 1px solid #17949D;
}


.btn-link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}

 .btn-link .primary-btn{
  color: #ffffff;
}

 .btn-link .secondary-btn{
  color: #17949d;
}

.btn-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
