table {
  border-collapse: collapse;
  /* border-radius: 1em 1em 0 0; */
  overflow: hidden;
  width: 100%;
}

thead th:last-child{
    border-radius: 0 8px 8px 0;
}

thead th:first-child{
    border-radius: 8px 0 0 8px;
}

th {
  background: #17949d;
  color: #fff;
}
td {
  border-bottom: 1px solid #C4C4C4;
}

th,
td {
  padding: 1em;
  /*   background: #ddd; */
  /*   border-bottom: 2px solid #000;  */
}

.css-mine {
  margin-top: 2em;
  clear: both;
}